.header{
    height: 70px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    opacity: 0.8;
    z-index: 3;
}
.container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo .icon{
    width: 40px;
    color: #00fdfd;
    height: 67px;
}
