.App {

}

::-webkit-scrollbar {width: 12px;height: 12px; background-color:  black}
::-webkit-scrollbar-track-piece {background:rgba(0,0,0,0);}
::-webkit-scrollbar-thumb:vertical {height:10px;background: rgba(31, 31, 31, 0.85);}
::-webkit-scrollbar-thumb:vertical:hover {background:#00fdfd;}

