.spanInitials{
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    font-weight: 600;
    color: white;
    text-align: center;
}
.spanEndFooter {
    padding: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: white;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    flex-direction: column;
    background-color: #232323;
}

.containerFooter {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.containerFooter li {
    margin: 50px;
}
.containerFooter a {
    text-decoration: none;
    background-color: #232323;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    box-shadow: 4px 5px 20px -5px black;
    position: relative;
    overflow: hidden;
}
.containerFooter a i {
    font-size: 34px;
    transition: .3s ease;
}
.containerFooter a:before {
    position: absolute;
    content: '';
    width: 120%;
    height: 120%;
    background-color: black;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
}
.containerFooter a:hover i {
    transform: scale(1.3);
    color: #00FFEE;
}
.containerFooter a:hover:before {
    animation-name: hover;
    animation-duration: .6s;
    top: -10px;
    left: -10px;
}

@keyframes hover {
    0% {
        top: -110px;
        left: 90px;
    }
    50% {
        top: 10px;
        left: -30px;
    }
    100% {
        top: -10px;
        left: -10px;
    }
}


